<a href="https://colab.research.google.com/github/omemaakhtar/Repo-Bank/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = " Omema Akhtar"
age = "36"
country = "Pakistan"
print ("My name is" + name + ", I am " +age +" years old and I live in "+ country)

My name is Omema Akhtar, I am 36 years old and I live in Pakistan

Assignment 2

In [ ]:
item = "bags"
price = 100
quantity = 10
total_cost = price * quantity
comp_text = "I bought {} {}s at {} for a total of $ {}" .format(quantity, item, price, total_cost)
print (comp_text)

I bought 10 bagss at 100 for a total of $ 1000

Assignment 3

In [ ]:
city = "Karachi"
temprature = 35
text = f"Temprature in {city} is {temprature} degree celcius"
print(text)

Temprature in Karachi is 35 degree celcius

Assignment 4

In [ ]:
city = "Karachi"
first_name = "Omema"
last_name = "Akhtar"
birth_year = 1987
current_year = 2023
age = current_year - birth_year
bio_data = "My name is %s %s. I am %d years old"%(first_name, last_name,age)
print(bio_data)

My name is Omema Akhtar. I am 36 years old

Assignment 5

In [ ]:
product = "perfume"
discount = 10
original_price = 25
discounted_price = original_price * (1 - discount /100)
text = f"product: {product}\noriginal_price : PKR{original_price: .2f} \ndiscount : {discount}%\ndiscounted_price: PKR {discounted_price: .2f}"
print (text)

product: perfume
original_price : PKR 25.00
discount : 10%
discounted_price: PKR  22.50