Admit Card

In [32]:
roll_no = 200
name = "Omema Akhtar"
fname = "Jawed Akhtar"
Contact = 923202220587
card = "NED University \nStudent roll no:" + str(roll_no)+\
"\nStudent Name:" + name +"\nFather Name:" + fname\
+ "\nPhone number: "+ str(Contact)

print(card)

NED University
Student roll no:200
Student Name:Omema Akhtar
Father Name:Jawed Akhtar
Phone number: 923202220587

In [39]:
card = """NED University
Student roll no:\t\t200
Student Name:\t\t\tOmema Akhtar
Father Name:\t\t\tJawed Akhtar
Phone number:\t\t\t923202220587"""
print(card)

NED University
Student roll no:		200
Student Name:			Omema Akhtar
Father Name:			Jawed Akhtar
Phone number:			923202220587

In [49]:
roll_no = 200
name = "Omema Akhtar"
fname = "Jawed Akhtar"
Contact = 923202220587
card = """NED University
Student roll no:\t\t{}
Student Name:\t\t\t{}
Father Name:\t\t\tJawed Akhtar
Phone number:\t\t\t923202220587""".format(roll_no, name, fname, Contact)
print(card)

NED University
Student roll no:		200
Student Name:			Omema Akhtar
Father Name:			Jawed Akhtar
Phone number:			923202220587

In [51]:
roll_no = 200
name = "Omema Akhtar"
fname = "Jawed Akhtar"
Contact = 923202220587
card = f"""NED University
Student roll no:{roll_no}
Student Name:{name}
Father Name:{fname}
Phone number:{Contact}"""
print(card)

NED University
Student roll no:200
Student Name:Omema Akhtar
Father Name:Jawed Akhtar
Phone number:923202220587

In [53]:
roll_no = input("roll_no")
name = input("name")
fname = input("fname")
Contact = input("Contact")
print(card)

roll_no123
nameomema
fnamejawed
Contact1234
NED University
Student roll no:200
Student Name:Omema Akhtar
Father Name:Jawed Akhtar
Phone number:923202220587