<a href="https://colab.research.google.com/github/omemaakhtar/Repo-Bank/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
age = int(input("enter your age"))
if age > 18 :
    print ("Eligble")
else:
     print("Not Eligble")

enter your age12
Not Eligble

In [9]:
n = int(input("enter the number"))
if n %2==0:
    print ("even")
else:
    print("odd")

enter the number5
odd

In [12]:
n = int(input("Enter your number"))
if n % 7 == 0 :
   print("divisible by 7")
else :
   print("not divisible")

Enter your number21
divisible by 7

In [14]:
n = int(input("Enter your number"))
if n % 5 == 0:
    print("hello")
else:
    print("bye")

Enter your number11
bye

In [30]:
n = int(input("Enter units here"))
if n <=100:
    amt=0
elif 100 <= n <= 200:
    amt=(n-100)*5
else:
    amt=500+(n-200)*10
print("amount to pay:",amt)

Enter units here160
amount to pay: 300

In [1]:
{ print(""1""+""8"") }

SyntaxError: ignored

In [28]:
n = int(input("Enter units here"))

# Use "if", "elif", and "else" to handle all cases
if n <= 100:
    amt = 0
elif 100 <= n <= 200:
    amt = (n - 100) * 5
else:
    amt = 500 + (n - 200) * 10

# Unindent the "print" statement to execute it for all cases
print("Amount to pay:", amt)

Enter units here22
Amount to pay: 0

In [10]:
n = int(input("enter number here"))
id = n%10
if id %3==0:
  print("divisible by 3")
else:
  print("Not divisble by 3")

enter number here74
Not divisble by 3

In [13]:
a = int(input())
b = int(input())
integer_division = a // b
print(integer_division)
float_division = a / b
print(float_division)

3
2
1
1.5

In [17]:
a= int(input())
b= int(input())
integer_addition = a + b
print(integer_addition)
integer_subtraction = a - b
print(integer_subtraction)
integer_product = a * b
print(integer_product)

2
6
8
-4
12

In [3]:
j = 7
while(j <= 15):
    print(j)
    j = j + 1

7
8
9
10
11
12
13
14
15

In [21]:
n = int(input())
if n > 90:
  print("A Grade")
elif 80<= n <= 90:
  print("B Grade")
elif 60<= n <= 80:
  print("C Grade")
else:
  print("Fail")

74
C Grade

In [31]:
cp = int(input())
if cp > 100000 :
    print(cp * 0.15)
elif 50000 <= cp <= 100000 :
    print(cp * 0.10)
elif cp == 50000:
    print(cp * 0.05)
else:
    print("No tax")

150000
22500.0

In [32]:
year = str(input())
if year == february :
  print("Leap year")
else:
  print("Not a leap year")

March

NameError: ignored